<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Music Company</h1>
      <div class="row center">
        <h5 class="header col s12 light">Empresa dedicada a la administración de plataformas musicales basadas en la web</h5>
      </div>
      <div class="row center" *ngIf="!isLoggedIn">
        <a routerLink="/login" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Ingresar </a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax background1" ></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Acelera el desarrollo</h5>

          <p class="light">
            Hicimos la mayor parte del trabajo pesado para proporcionar estilos predeterminados que incorporan nuestros componentes personalizados. Además, hemos mejorado las animaciones y las transiciones para proporcionar una experiencia más fluida para los desarrolladores.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Experiencia enfocada en el usuario</h5>

          <p class="light">Al utilizar elementos y principios de Material Design, pudimos crear un marco que incorpora componentes y animaciones que brindan más retroalimentación a los usuarios. Además, un único sistema de respuesta subyacente en todas las plataformas permite una experiencia de usuario más unificada.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Fácil de trabajar con</h5>

          <p class="light">
            Proporcionamos documentación detallada y ejemplos de códigos específicos para ayudar a los nuevos usuarios a comenzar. También estamos siempre abiertos a los comentarios y podemos responder cualquier pregunta que un usuario pueda tener sobre Materialise.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A moderno servicio para la administración de concursos musicales basados en la calidad y experiencia</h5>
      </div>
    </div>
  </div>
  <div class="parallax background2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contactanos</h4>
        <p class="left-align light">Para nosotros es un placer atenderte. Por eso, te ofrecemos diferentes medios para responder a cada una de tus solicitudes de la manera que más te convenga.

          Si quieres hablar con nosotros comunícate gratuitamente al (1 866) 998-2456 o escríbenos a e_solutions@musiccompany.com..</p>
      </div>
    </div>

  </div>
</div>
