<app-header urlConcurso="" ></app-header>

<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="enviarFormulario()">
        <mat-grid-list cols="2" rowHeight="70px">
          <mat-grid-tile >
            <mat-input-container class="full-width-input">
              <input matInput placeholder="Nombre" formControlName="nombreConcurso" required>
              <mat-error *ngIf="validarCampos('nombreConcurso')"> Nombre obligatorio </mat-error>
            </mat-input-container>
          </mat-grid-tile>
          <mat-divider [vertical]="true"> - </mat-divider>
          <mat-grid-tile >
            <mat-input-container class="full-width-input" >
              <input matInput placeholder="Url concurso" formControlName="urlConcurso" required (keyup)="onClicUrl()">
              <mat-label>http://www.dominio.com/concurso/<span>{{valorUrl}}</span></mat-label>
              <mat-error *ngIf="validarCampos('urlConcurso')"> Url concurso obligatorio </mat-error>
            </mat-input-container>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="full-width-input">
              <input  matInput [matDatepicker]="fechaInicioConcurso" placeholder="Fecha Inicio" formControlName="fechaInicioConcurso" required >
              <mat-datepicker-toggle matSuffix [for]="fechaInicioConcurso"></mat-datepicker-toggle>
              <mat-error *ngIf="validarCampos('fechaInicioConcurso')"> Fecha Inicio </mat-error>
              <mat-datepicker #fechaInicioConcurso></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="full-width-input">
              <input matInput [matDatepicker]="fechaFinConcurso" placeholder="Fecha Final" formControlName="fechaFinConcurso" required >
              <mat-datepicker-toggle matSuffix [for]="fechaFinConcurso"></mat-datepicker-toggle>
              <mat-error *ngIf="validarCampos('fechaFinConcurso')"> Fecha Inicio </mat-error>
              <mat-datepicker #fechaFinConcurso></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2">
            <mat-input-container class="full-width-input">
              <input matInput placeholder="Valor premio ($)" formControlName="valorPagar" required>
              <mat-error *ngIf="validarCampos('valorPagar')"> Valor premio ($)</mat-error>
            </mat-input-container>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="2">
            <mat-form-field class="full-width-input">
              <textarea matInput placeholder="Guión" formControlName="guion" required> </textarea>
              <mat-error *ngIf="validarCampos('guion')"> Guión obligatorio</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="2">
            <mat-form-field class="full-width-input">
              <textarea matInput placeholder="Recomendación" formControlName="recomendacion" required> </textarea>
              <mat-error *ngIf="validarCampos('recomendacion')"> Recomendación obligatorio</mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>

        <div>
          <input type="file" #imagenConcurso (change)="onFileChange(imagenConcurso)" required>
        </div>
        <br>
        <div>
          <canvas height="80" width="300" id="photoPreview"></canvas>
        </div>
        <br>

        <mat-divider></mat-divider>
        <br>
        <button mat-raised-button color="primary" type="submit" >Guardar</button>
        <button mat-raised-button color="warn" type="button" ng-click="history.back()" >Cancelar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

