/*@import "../../../assets/css/materialize.min.css";*/

table,.dataTables_info {
  font-size:10px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #26a69a;
  color: white;
}

.text-inside-grid-left {
  font-size:12px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  position: absolute;
  left: 5px;
}

.text-inside-grid-rigth{
  font-size:12px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  position: absolute;
  right: 5px;
}

mat-card {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
}

.contenedor {
  max-width: 800px;
  margin: 2em auto;
  text-align: center;
}
.signin-content {
  padding: 10% 1rem;
}
.full-width-input {
  width: 100%;
}
.customClass {
  background-color: #dd3;
  border-radius: 5px;
  margin:5px;
  width: 500px;
}

.customClass .img-ul-upload {
  background-color: #000 !important;
}

.customClass .img-ul-clear {
  background-color: #B819BB !important;
}

.customClass .img-ul-drag-box-msg {
  color: purple !important;
}

.customClass .img-ul-container {
  background-color: #FF6CAD !important;
}

.jwplayer.jw-skin-default .jw-display-icon-container {
  border-style: solid;
  border-width: medium;
  border-radius: 50%;
  padding:1em;
}
