<app-header urlConcurso="" ></app-header>

<div class="signin-content">
  <mat-card>
    <mat-card-content>

      <form [formGroup]="form" (ngSubmit)="enviarFormulario()">
        <img src="../../../assets/images/login.jpg" style="max-width: 100px; max-height: 100px"  >
        <mat-input-container class="full-width-input">
          <input matInput placeholder="Usuario"
                 formControlName="email" required>
          <mat-error *ngIf="validarCampos('email')">
            El usuario es obligatorio
          </mat-error>
        </mat-input-container>
        <mat-input-container class="full-width-input">
          <input matInput type="password" placeholder="Clave"
                 formControlName="password" required>
          <mat-error *ngIf="validarCampos('password')">
            La clave es obligatoria
          </mat-error>
        </mat-input-container>
        <button mat-raised-button color="primary" type="submit">Ingresar</button>
        <button mat-raised-button color="warn" type="button" routerLink="/cuenta">Registrarse</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
